In [1]:
import pandas as pd
df_ids = pd.read_csv('inflation_ids_fred.csv').set_index('id')
df_ids.head()

,name,Country,Region
id,,,
CPGRLE01AUQ657N,Consumer Price Index: OECD Groups: All Items N...,Australia,APAC
CPGRLE01CAQ657N,Consumer Price Index: OECD Groups: All Items N...,Canada,Americas
CPGRLE01CHQ657N,Consumer Price Index: OECD Groups: All Items N...,Switzerland,Europe
CPGRLE01DEQ657N,Consumer Price Index: OECD Groups: All Items N...,Germany,Europe
CPGRLE01ESQ657N,Consumer Price Index: OECD Groups: All Items N...,Spain,Europe

In [2]:
import sys
import os
sys.path.append(os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath('"Top 10 Funds by AUM Positioning - Data Gen.ipynb"')))))
from apis.misc.utils import get_fred_series

Python-dotenv could not parse statement starting at line 5

In [3]:
df=pd.DataFrame()
start_date = '20000101'
stop_date = '20230701'
for id in list(df_ids.index.to_list()):
    df = pd.concat([df,get_fred_series(id,start_date=start_date,end_date=stop_date,frequency='q')],axis=1)

df

,CPGRLE01AUQ657N,CPGRLE01CAQ657N,CPGRLE01CHQ657N,CPGRLE01DEQ657N,CPGRLE01ESQ657N,CPGRLE01FIQ657N,CPGRLE01FRQ657N,CPGRLE01GBQ657N,CPGRLE01GRQ657N,CPGRLE01ILQ657N,CPGRLE01ITQ657N,CPGRLE01JPQ657N,CPGRLE01KRQ657N,CPGRLE01MXQ657N,CPGRLE01NLQ657N,CPGRLE01NZQ657N,CPGRLE01PLQ657N,CPGRLE01TRQ657N,CPGRLE01USQ657N
2000-01-01,0.685770,0.104092,0.093359,0.175845,0.827181,0.618000,0.051470,-0.817204,-1.106693,-1.372896,0.420044,-0.726107,0.938865,3.306809,-0.511162,1.911027,1.271776,13.403366,0.729108
2000-04-01,0.560448,0.703632,-0.117025,-0.137622,0.992677,0.998617,0.335341,0.693842,2.357059,0.898069,0.479525,0.348098,0.471226,1.794041,1.105527,0.799571,0.401957,8.008255,0.742390
2000-07-01,4.181549,0.636548,0.062804,0.409582,1.191453,0.354077,0.121935,-0.387597,-0.893364,-0.044504,0.447192,-0.237272,0.667760,1.472128,0.246096,0.902537,0.542403,8.119938,0.460575
2000-10-01,0.186907,0.415889,0.296695,0.138799,0.356935,1.078454,0.221609,0.778210,2.756393,-0.311665,0.579562,-0.249770,0.597860,2.157300,0.962086,1.142747,0.371467,9.511724,0.605171
2001-01-01,0.807286,0.221883,0.461943,0.405077,1.061118,0.447855,0.132904,-0.600601,-0.713742,-0.401965,0.875895,-0.784445,1.586164,1.983280,0.826038,-0.426546,0.572250,8.290505,0.838498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01,1.669863,1.981011,0.927857,1.706805,2.799993,1.683439,1.523219,1.826087,3.315203,1.604096,1.239532,NaN,1.056463,1.633080,1.990431,1.316925,0.966667,12.952139,1.699407
2022-07-01,1.721293,1.359761,0.218460,1.203607,0.157200,1.243204,0.927396,1.366354,0.213740,1.813907,1.487923,NaN,1.003984,1.596055,1.905512,2.340358,0.933333,10.241672,1.507234
2022-10-01,1.928516,0.679199,0.102680,1.465134,1.594837,1.786091,0.235008,1.516428,2.992511,0.989772,0.543153,NaN,0.719470,1.423119,1.366866,2.054920,0.766667,8.281189,0.870896
2023-01-01,1.157661,0.795998,0.671650,1.262495,0.518958,1.642114,0.779292,0.746888,-0.367767,0.632075,1.326336,NaN,1.178019,1.718010,1.044924,0.881589,1.166667,12.329646,1.381603
2023-04-01,0.918527,1.365845,0.642890,1.460617,2.042845,2.265901,1.754319,2.635914,2.842622,1.500138,1.370024,NaN,0.820586,1.156939,2.058028,1.030143,0.633333,9.276677,1.366615

In [4]:
spreads = [('CPFF','3-Month Commercial Paper Minus Federal Funds Rate'),
            ('T10Y2Y','10-Year Treasury Constant Maturity Minus 2-Year Treasury Constant Maturity'),
            ('T10Y3M','10-Year Treasury Constant Maturity Minus 3-Month Treasury Constant Maturity'),
            ('T10YFF','10-Year Treasury Constant Maturity Minus Federal Funds Rate'),
            ('T1YFF','1-Year Treasury Constant Maturity Minus Federal Funds Rate'),
            ('T6MFF','6-Month Treasury Constant Maturity Minus Federal Funds Rate'),
            ('TB3SMFFM','3-Month Treasury Bill Minus Federal Funds Rate')]
dfd=pd.DataFrame()
for spread in spreads:
    dfd = pd.concat([dfd,get_fred_series(spread[0],start_date=start_date,end_date=stop_date)],axis=1)

dfd

            CPFF  T10Y2Y  T10Y3M  T10YFF  T1YFF  T6MFF  TB3SMFFM
2000-01-01   NaN     NaN     NaN     NaN    NaN    NaN     -0.13
2000-01-03  0.34    0.20    1.10    1.15   0.66   0.38       NaN
2000-01-04  0.42    0.19    1.06    1.11   0.62   0.37       NaN
2000-01-05  0.40    0.24    1.18    1.21   0.64   0.33       NaN
2000-01-06  0.29    0.22    1.16    1.03   0.49   0.15       NaN
...          ...     ...     ...     ...    ...    ...       ...
2023-06-27  0.22   -0.97   -1.67   -1.30   0.26   0.39       NaN
2023-06-28  0.24   -1.00   -1.73   -1.36   0.25   0.40       NaN
2023-06-29  0.15   -1.02   -1.61   -1.22   0.34   0.43       NaN
2023-06-30  0.14   -1.06   -1.62   -1.27   0.32   0.39       NaN
2023-07-01   NaN     NaN     NaN     NaN    NaN    NaN      0.13

[6212 rows x 7 columns]

In [5]:
dfd.to_csv('../../data/Inflation/credit_spreads_daily.csv')

In [ ]:
df_arc = df.copy()

In [ ]:
df  = df_arc.reset_index()
# convert date to datetime
df['date'] = pd.to_datetime(df['index'])
df = df.set_index('date').drop(columns = ['index'])
df

In [ ]:
df_ind=(df/100 + 1).cumprod()

In [ ]:
df_ind = df_ind.transpose()
df_ind.index.name = "id"

In [ ]:
df = df_ids.join(df_ind).reset_index().set_index(['Country'])
df.head()

In [ ]:
df_temp = df.iloc[:,3:].stack()

In [ ]:
df_f = pd.DataFrame(df_temp.rename('cpi_indexed')).join(df[['id','Region']],how='left')

In [ ]:
df = pd.read_csv('../../data/Inflation/full_country_inflation_data.csv').set_index(['date','Country'])
df

In [ ]:
df=df[df['id'].isin(df_ids.index.to_list())]

In [ ]:
df_f.reset_index()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
fig,ax = plt.subplots(figsize = (15,10))
df_temp =df_f[df_f['Region']=='Americas']
sns.lineplot(data =df_temp.reset_index().rename(columns = {'level_1':'date'}),x = 'date',hue = 'Country',y='cpi_indexed')
plt.show()

In [ ]:
fig,ax = plt.subplots(figsize = (15,10))
df_temp =df_f[df_f['Region']=='APAC']
sns.lineplot(data =df_temp.reset_index().rename(columns = {'level_1':'date'}),x = 'date',hue = 'Country',y='cpi_indexed')
plt.show()

In [ ]:
fig,ax = plt.subplots(figsize = (15,10))
df_temp =df_f[df_f['Region']=='Europe']
sns.lineplot(data =df_temp.reset_index().rename(columns = {'level_1':'date'}),x = 'date',hue = 'Country',y='cpi_indexed')
plt.show()

In [ ]:
fig,ax = plt.subplots(figsize = (15,10))
df_temp =df_f[df_f['Region']=='Europe']
df_temp = df_temp[df_temp['id']!='CPGRLE01CHQ657N']
sns.lineplot(data =df_temp.reset_index().rename(columns = {'level_1':'date'}),x = 'date',hue = 'Country',y='cpi_indexed')
plt.show()

In [ ]:
fig,ax = plt.subplots(figsize = (15,10))
df_temp =df_f[df_f['Region']=='Europe']
sns.lineplot(data =df_temp.reset_index().rename(columns = {'level_1':'date'}),x = 'date',hue = 'Country',y='cpi_indexed')
plt.ylim(1,1.75)
plt.show()

In [ ]:
fig,ax = plt.subplots(figsize = (15,10))
df_ftemp = df_f.reset_index()
df_temp =df_ftemp[df_ftemp['Country'].isin(['United States','Germany','France','United Kingdom','Mexico','Canada','Switzerland','Japan','Australia'])]
sns.lineplot(data =df_temp.reset_index().rename(columns = {'level_1':'date'}),x = 'date',hue = 'Country',y='cpi_indexed')
plt.show()