In [1]:
import qe.myqengine as qe
import pandas as pd

In [2]:
#set universe to NVDA-US
univ = qe.IdUniverse(ids = ['NVDA-US'],
                    universe_type ='Equity')

#set to latest month end
time_series = qe.TimeSeries(start_date='-2M',
                            end_date = '0M')

#Define FQL Formulas
formulas = ['OS_TOP_HLDR_ID(ALL,#DATE,,M,,M)','OS_TOP_HLDR_NAME(ALL,#DATE,,M,,M,,"EN")','OS_TOP_HLDR_MV(ALL,#DATE,,M,,M,SEC,USD)']

#Calculate
q_req = qe.calculate(universe=univ, dates = time_series, formulas=formulas,is_array_return_type=True,source= 'FqlExpression')
df_temp = q_req.data.copy()

#clean up table
df_temp.rename(columns ={'OS_TOP_HLDR_ID(ALL,#DATE,,M,,M)':'hldr_id',
                    'OS_TOP_HLDR_NAME(ALL,#DATE,,M,,M,,"EN")':'hldr_name',
                    'OS_TOP_HLDR_MV(ALL,#DATE,,M,,M,SEC,USD)':'position_mv',
                    },inplace=True)
df_temp = df_temp.set_index(['DATE'])
                    

#Expand arrays and rejoin
df = pd.concat([df_temp['hldr_id'].explode() ,df_temp['hldr_name'].explode(),df_temp['position_mv'].explode()],axis=1)
df=df.reset_index().set_index(['DATE','hldr_id'])
df.head()

                                         hldr_name         position_mv
DATE     hldr_id
20230630 M4004630  Vanguard Total Stock Market ETF      30989909233.66
         M4004543          Vanguard 500 Index Fund  24909466708.880001
         M4017554                Invesco QQQ Trust      13895778480.74
         M4006564           SPDR S&P 500 ETF Trust  11899983657.379999
         M4001597          Fidelity 500 Index Fund  11813666426.379999